<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94641086804-i9d1p8ejtcqgf8p1jqq9pjg66bcv8gq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94641086804-i9d1p8ejtcqgf8p1jqq9pjg66bcv8gq8</string>
	<key>API_KEY</key>
	<string>AIzaSyDz4c2U4b2Bur2B6nNygQBtZzaEfGueFYI</string>
	<key>GCM_SENDER_ID</key>
	<string>94641086804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plusapps.PlusPedestrianNaviIOS</string>
	<key>PROJECT_ID</key>
	<string>pluspedestrianna-1535015466038</string>
	<key>STORAGE_BUCKET</key>
	<string>pluspedestrianna-1535015466038.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94641086804:ios:ad68839931821a7e9f68c1</string>
	<key>DATABASE_URL</key>
	<string>https://pluspedestrianna-1535015466038.firebaseio.com</string>
</dict>
</plist>